/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  

  
}
.home-section {
  width: 100vw;
  background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.main-heading {
  font-size: clamp(15px, 7vw, 30px);
  margin-bottom:25px 0;
}
.home-content{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #2a2a8c88, #000000);
  font-size: clamp(5px, 7vw, 35px);  
  text-align: center;
}

.home-product {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
  margin-bottom: 50px;

}



.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1 {
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  transition: 0.5s ease in;
  -webkit-transition: 0.5s ease in;
  -moz-transition: 0.5s ease in;
  -ms-transition: 0.5s ease in;
  -o-transition: 0.5s ease in;
}

.prd_left {
  flex-basis: 500px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(5px, 7vw, 15px);
  /* flex-grow: 1; */

}
.prod_hed{
  font-size: curl(5px,7vw,12px);
  text-align: center;
}

.prd_info{
  text-align: center;
  padding: 5px;
}
.prd_right {
  flex-basis: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: clamp(5px, 7vw, 15px);
  margin-top: 10px;
  /* flex-grow: 1; */
}


.img-sec {
  flex-basis: 200px;
  object-fit: scale-down;
  mix-blend-mode: multiply;

}
.image{
  height: 200px !important;
  object-fit: scale-down;
  transition: 1s ease-in-out;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}
.arrow-button{
  width:20%;
  height: 12%;
  height: 24px;
  margin: 15px 0 15px 15px ;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  float: left;
}

.arrow-button.left_button{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #805e5e;
  cursor:pointer;
  transform: translate(-100%, -50%);
  border: 2px solid red;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);


}

.left_button {
  cursor: pointer;
}
.right_button {
  cursor: pointer;
}

.arrow-button.right_button{
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #805e5e;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}


/* Styles for the action buttons */
.act_btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px 25px 0 25px;
  padding-top: 20px;
}

/* Styles for the cart button and enquiry button */
.cart_btn,
.enq_btn {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: #805e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* Change background color and scale on hover */
.cart_btn:hover,
.enq_btn:hover {
  background-color: #4a518f;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styles for the before pseudo-element of cart button and enquiry button */
.cart_btn::before,
.enq_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(79, 105, 201, 0.4), transparent);
  transition: left 0.3s ease;
}

/* Move the before pseudo-element on hover */
.cart_btn:hover::before,
.enq_btn:hover::before {
  left: 100%;
}

/* Styles for the end container */
.end_c {
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

/* Styles for the enquiry button */
.enq {
  width: 150px;
  height: 50px;
  background-color: #805e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: clamp(13px, 7vw, 20px);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

/* Change background color and scale on hover */
.enq:hover {
  background-color: #4a518f;
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styles for the before pseudo-element of enquiry button */
.enq::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(79, 105, 201, 0.4), transparent);
  transition: left 0.3s ease;
}

/* Move the before pseudo-element on hover */
.enq:hover::before {
  left: 100%;
}




/* Animations */

/* Animation for moving elements along Y-axis */
@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(500px);
  }
}

/* Animation for moving elements back along Y-axis */
@keyframes moveYBack {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animation for fading out elements */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Animation for fading in elements */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation for moving elements along X-axis */
@keyframes moveX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-800px);
  }
}

/* Animation for moving elements back along X-axis */
@keyframes moveXBack {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Animation for moving elements to the right */
@keyframes moveRight {
  0% {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

/* Animation for moving elements to the left */
@keyframes moveLeft {
  0% {
    transform: translateX(50);
  }
  100% {
    transform: translateX(-200px);
  }
}
