/* Navbar styles */

/* Styles for the navbar container */
.navbar {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
  color: black;
  padding: 10px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;
  animation: fadeInUp 2s ease-out;
  -webkit-animation: fadeInUp 2s ease-out;
}

/* Styles for the logo image */
.logo-image img {
  width: 70px;
  margin: 0px 0px 0px 30px;
  animation: fadeInside 3s ease-in-out;
  -webkit-animation: fadeInside 3s ease-in-out;
}

/* Styles for the unordered list inside the navbar */
.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/* Styles for each list item inside the navbar */
.navbar ul li {
  margin: 0 15px;
  animation: fadeInDown 3s ease-out;
  -webkit-animation: fadeInDown 3s ease-out;
  animation: fadeInside 3s ease-in-out;
  -webkit-animation: fadeInside 3s ease-in-out;
}

/* Styles for the links inside each list item */
.navbar ul li a {
  color: black;
  font-weight: bold;
  font-family: "Montserrat";
  padding: 10px 15px;
  border-radius: 5px;
}

/* Styles for the links when hovered */
.navbar ul li a:hover {
  text-decoration: underline;
  animation: 2s ease-in-out;
  -webkit-animation: 2s ease-in-out;
}

/* Styles for the cart image inside the navigation link */
.navigation-link.cart a img {
  width: 30px;
  height: 30px;
  margin: -5px 0 0 0;
}

/* Additional styles for the links inside the navbar */
.navbar ul li a {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: black;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

/* Styles for the pseudo-element before the links */
.navbar ul li a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

/* Styles for the links when hovered */
.navbar ul li a:hover {
  color: #fff;
}

/* Styles for the pseudo-element before the links when hovered */
.navbar ul li a:hover::before {
  box-shadow: inset 0 0 0 10em rgb(42, 211, 203);
  background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
}

/* Styles for the profile section */
.profile {
  display: none;
}

.profile li {
  list-style: none;
  margin: 3px 20px 0 0;
  
}

/* Styles for the hamburger menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin: 0 0 0;
}

/* Styles for the lines inside the hamburger menu */
.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  opacity: 0;
}

/* Styles for the dropdown menu */
.dropdown {
  display: none;
}

/* Media queries */

/* Styles for screens with maximum width of 320px */
@media (max-width:320px) {
  .logo-image .aimg {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 1px;
    animation: fadeInside 1s ease-in-out;
    -webkit-animation: fadeInside 1s ease-in-out;
  }
}

/* Styles for screens with maximum width of 750px */
@media (max-width: 750px) {
  .navbar {
    height: 50px;
  }
  .nav-link {
    display: none;
    opacity: 0;
  }
  .nav-link li{
    display: none;
  }
  .profile {
    display: flex;
    animation: fadeInside 2s ease-in-out;
    -webkit-animation: fadeInside 2s ease-in-out;
  }
  .hamburger-menu {
    display: flex;
    margin: 0 30px 0 0;
    animation: fadeInside 3s ease-in-out;
    -webkit-animation: fadeInside 3s ease-in-out;
  }
  .hamburger-menu .line {
    display: flex;
    opacity: 1;
  }
  .dropdown {
    top: 0;
    left: -100%;
    width: (65%, 75%);
    height: 100%;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
    z-index: 3;
    transition: left 0.6s ease-in-out;
    -webkit-transition: left 0.6s ease-in-out;
    -moz-transition: left 0.6s ease-in-out;
    -ms-transition: left 0.6s ease-in-out;
    -o-transition: left 0.6s ease-in-out;
  }
  .d-m {
    padding: 10px;
  }
  .dropdown.active {
    left: 0;
    animation: hamburgerLine 1.5s ease-in-out;
    -webkit-animation: hamburgerLine 1.5s ease-in-out;
    z-index: 9999;
  }
  .dropdown.active.l1 {
    transform: rotate("20deg");
    -webkit-transform: rotate("20deg");
    -moz-transform: rotate("20deg");
    -ms-transform: rotate("20deg");
    -o-transform: rotate("20deg");
  }
  .dropdown.active.l2 {
    opacity: 0;
  }
  .dropdown.active.l3 {
    opacity: 0;
  }
  .drop {
    margin: 10px;
  }
  .navbar-d {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .navbar-d li {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    animation: fadeInside 3s ease-in-out;
    -webkit-animation: fadeInside 3s ease-in-out;
  }
  .navbar-d li a {
    color: black;
    font-weight: bold;
    font-family: "Montserrat";
    font-size: clamp(9px, 7vw, 15px);
    padding: 10px 15px;
    display: block;
    border-radius: 10pxpx;
    -webkit-border-radius: 10pxpx;
    -moz-border-radius: 10pxpx;
    -ms-border-radius: 10pxpx;
    -o-border-radius: 10pxpx;
    animation: fadeInside 3s ease-in-out;
    -webkit-animation: fadeInside 3s ease-in-out;
  }

  .navbar-d ul li a {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: black;
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  .navbar-d ul li a::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  .navbar-d ul li a:hover {
    color: #fff;
  }
  .navbar-d ul li a:hover::before {
    background-image: linear-gradient(150deg, #eff7ee, hsl(196, 90%, 31%));
  }
  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(60deg) translate(5px, 5px);
    -webkit-transform: rotate(60deg) translate(5px, 5px);
    -moz-transform: rotate(60deg) translate(5px, 5px);
    -ms-transform: rotate(60deg) translate(5px, 5px);
    -o-transform: rotate(60deg) translate(5px, 5px);
  }
  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-menu.active .line:nth-child(3) {
    transform: rotate(-60deg) translate(5px, -5px);
    -webkit-transform: rotate(-60deg) translate(5px, -5px);
    -moz-transform: rotate(-60deg) translate(5px, -5px);
    -ms-transform: rotate(-60deg) translate(5px, -5px);
    -o-transform: rotate(-60deg) translate(5px, -5px);
  }
}

/* Keyframes animations */

/* Animation for the hamburger menu lines */
@keyframes hamburgerLine {
  from {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

/* Animation for fading in elements */
@keyframes fadeInside {
  from {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

/* Animation for fading in and down elements */
@keyframes FadeInDown {
  from {
    opacity: 0;
    transform: translateX(-500%);
    -webkit-transform: translateX(-500%);
    -moz-transform: translateX(-500%);
    -ms-transform: translateX(-500%);
    -o-transform: translateX(-500%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
